*{
	box-sizing: border-box;
	font-family: Georgia;

}
.fluid_img_container {
	text-align: center;
	display: inline-block;
	width: 100%;
}
.img_container {
	text-align: center;
	display: inline-block;
	
}
.embolden{
	font-weight: 600; 
	font-size: 1.2em;
}
.fluid_img{
	width:90%;
}
.menu a:link{
	text-decoration: none;
	color:black;
}
.menu a:hover{
	text-decoration: underline;
	color:black;
}
.menu a:visited{
	text-decoration: none;
	color:black;
}


/** NAV-BAR */
@media (max-width : 1824px) {
	.wrapper{
		width: 850px;
		
		margin: auto;
		height: 100%;
		font-size: 1em;
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: 1em;
		margin: 1%;
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		text-align: center;
		padding:.5%;
		
		font-size: 1em;
		

	}
	.menu{
		display: inline-block;
		background-color: silver;
		padding: 1%;
		margin:0;
	}
	.img{
	width: 20%;
	margin: 2.5%;
	}
	.fluid_img{
	width:60%;
	}
}
@media (max-width : 1224px) {
	.wrapper{
		width: 850px;
		
		margin: auto;
		height: 100%;
		font-size: .8em;
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: .8em;
		margin: 1%;
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		text-align: center;
		padding:.5%;
		
		font-size: .9em;
		margin-left: 1%;
	}
	.menu{
		display: inline-block;
		background-color: silver;
		padding: 1%;
		margin:0;
	}
	.img{
	width: 18%;
	}
	.fluid_img{
	width:72%;
	}
}
@media (max-width : 1024px) {
	.wrapper{
		width: 850px;
		
		margin: auto;
		height: 100%;
		font-size: .75em;
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: .75em;
		margin: 1%;
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		text-align: center;
		padding:.5%;
		
		font-size: .85em;
		
	}
	.menu{
		display: inline-block;
		background-color: silver;
		padding: 1%;
		margin:0;
	}
	.img{
	width: 21%;
	}
	.fluid_img{
	width:84%;
	}
}
@media (max-width : 850px) {
	.wrapper{
		width: 90%;
		
		margin: auto;
		height: 100%;
		font-size: .7em;
		padding: 2.5%;
		
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: .65em;
		margin: 1%;
		
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		
		text-align: center;
		padding:.5%;
		
		font-size: .8em;
		
	}
	.menu{
		display: inline-block;
		background-color: silver;
		padding: 1%;
		margin:0;
	}
	.img{
	width: 21%;
	}
	.fluid_img{
	width:84%;
	}
}
@media (max-width : 768px) {
	.wrapper{
		width: 90%;
		
		margin: auto;
		height: 100%;
		font-size: .7em;
		padding: 2.5%;
		
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: .58em;
		margin: 1%;
	}
.nav-bar{
		margin: auto;
		list-style-type: none;
		
		text-align: center;
		padding:.5%;
		
		font-size: .77em;
		
	}
	.menu{
		display: block;
		background-color: silver;
		padding: 1%;
		margin:auto;	
		border-bottom: solid white 1px;	
	}
	.img{
	width: 30%;
	margin: 1%;
	}
	.fluid_img{
	width:90%;
	}
}
@media (max-width : 400px) {
	.wrapper{
		width: 90%;
		
		margin: auto;
		height: 100%;
		font-size: .7em;
		padding: 2.5%;
		
	}
	.sidebar{
		float:right;
		width:30%;
		
		padding:.5%;
		background-color: peachpuff;
		font-size: .55em;
		margin: 1%;
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		
		text-align: center;
		padding:.5%;
		display:block;
		font-size: .75em;

	}
	.menu{
		display: block;
		background-color: silver;
		padding: 1%;
		margin:auto;	
		border-bottom: solid white 1px;	
		width:100%;

	}

	.img{
	width: 100%;
	}
	.fluid_img{
	width:90%;
	}
}
}
}
@media (max-width : 320px) {
	.wrapper{
		width: 90%;
		
		margin: auto;
		height: 100%;
		font-size: .7em;
		padding: 2.5%;
		
	}
	.sidebar{
		display:none;
	}
	.nav-bar{
		margin: auto;
		list-style-type: none;
		display:block;
		text-align: center;
		padding:.5%;
		
		font-size: .7em;
		
	}
	.menu{
		display: block;
		background-color: silver;
		padding: 1%;
		margin:auto;
		border-bottom: solid white 1px;	
	}
	.img{
	width: 100%;
	}
	.fluid_img{
	width:90%;
	}
}












